[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "aliyun"
url = "http://mirrors.aliyun.com/pypi/simple"

[dev-packages]

[packages]
beautifulsoup4 = "*"
requests = "*"
numpy = "*"
pandas = "*"
nltk = "*"
scrapy = "*"
pypiwin32 = "*"
jieba = "*"

[requires]
python_version = "3.7"
